{
    "server": "127.0.0.1",
    "server_ipv6": "::",
    "server_port": {{ kcptun_client_port }},
    "local_address": "0.0.0.0",
    "local_port": {{ socks5_proxy_port }},

    "password": "{{ password }}",
    "method": "{{ shadowsocks_encryption_method }}",
    "protocol": "{{ shadowsocks_protocol }}",
    "protocol_param": "",
    "obfs": "{{ shadowsocks_obfs }}",
    "obfs_param": "",
    "speed_limit_per_con": 0,
    "speed_limit_per_user": 0,

    "additional_ports" : {}, // only works under multi-user mode
    "additional_ports_only" : false, // only works under multi-user mode
    "timeout": {{ shadowsocks_timeout }},
    "udp_timeout": 60,
    "dns_ipv6": false,
    "connect_verbose_info": 0,
    "redirect": "",
    "fast_open": false
}
