/var/log/shadowsocks.log {
    daily
    compress
    delaycompress
    rotate 2
    missingok
    nocreate
    postrotate
        test ! -e /var/run/shadowsocks.pid || test ! -x /etc/init.d/shadowsocks || /etc/init.d/shadowsocks restart
    endscript
}
